<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	<title>ElecShare</title>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
      <title>ElecShare</title>
  <style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }
    .card-registration .select-arrow {
        top: 13px;
    }
    .clickBtn {
        color:#ffffff;
        background-color: #232b47;
        font-family: 'Oswald', sans-serif;
    }
    .label {
        color: #232b47;
        font-family: 'Oswald', sans-serif;
    }
</style>
</head>
{{template "navMember" .}}
<section class="h-100 bg-light" style="margin-top:60px;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="{{.Cars.ImageLink}}" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height:520px;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-3 text-uppercase label">Book Car Form</h3>
                    <form method="POST" action="/confirmbooking">
                      {{if .ErrMsg}}
                      <div data-mdb-input-init class="form-outline mb-4">
                        <h5 class="label" style="color:red">{{.ErrMsg}}</h5>
                      </div>
                      {{end}}
                    <div class="row">
                      <div class="col-md-6 mb-4">

                        <div data-mdb-input-init class="form-outline">
                            <label for="userName" class="label">Name</label>
                            <input type="text" id="userName" name="userName" value="{{.UserName}}" class="form-control form-control-lg label" readonly />
                        </div>
                        </div>
                    </div>

    
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label for="carName" class="label">Name of Car</label>
                        <input type="text" id="carName" name="carName" value="{{.Cars.Name}}" class="form-control form-control-lg label" readonly/>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6 mb-4">
                        <label for="startDate" class="label">Start Date</label>
                        <input type="date" id="startDate" name="startDate" class="form-control label" required min="{{.Today}}">
                        </div>
                        
                        <div class="col-md-6 mb-4">
                        <label for="endDate" class="label">End Date</label>
                        <input type="date" id="endDate" name="endDate" class="form-control label" required min="{{.Today}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="pickupTime" class="label">Pickup Time</label>
                            <input type="time" id="pickupTime" name="pickupTime" class="form-control label" required>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="dropoffTime" class="label">Dropoff Time</label>
                            <input type="time" id="dropoffTime" name="dropoffTime" class="form-control label" required>
                        </div>
                    </div>
                
    
                    {{if .ErrMsg}}
                    <div class="d-flex justify-content-end pt-3">
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn clickBtn ms-2" disabled>Book Car</button>
                  </div>
                    {{else}}
                    <div class="d-flex justify-content-end pt-3">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn clickBtn ms-2" action="bookcar">Book Car</button>
                    </div>
                    {{end}}
                    </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
      document.getElementById('startDate').addEventListener('change', function() {
        const startDate = new Date(this.value);
        
        const endDateInput = document.getElementById('endDate');
        endDateInput.min = this.value;
      });
  </script>
</html>